body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
}

#header {
    border-width: thin;
    border-style: solid;
    border-color: black;
}

#sidebar {
    background-color: black;
    color: white;
    border: thin solid blue;
    /* 빠른 표기법으로 표현합니다. */
    position: absolute;
    top: 100px;
    right: 200px;
    width: 300px;
}

#eventpop {
    background-color: blue;
    color: white;
    position: absolute;
    top: 80px;
    right: 100px;
    height: 200px;
}

#main {
    border: thin solid red;
}

#footer {
    border: thin solid green;
}

#advpop {
    background-color: brown;
    color: white;
    position: absolute;
    bottom: 80px;
    left: 100px;
}